<div class="max-w-3xl mx-auto mt-10 bg-white shadow-lg rounded-xl p-8">
  <h2 class="text-3xl font-bold text-gray-800 mb-6">Dashboard</h2>

  <app-dashboard-statistics [value]="posts.length" [labelDescription]="'Posts'">
  </app-dashboard-statistics>

  <div class="mt-8">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Published Posts</h3>

    <div *ngIf="posts.length > 0; else noPosts" class="space-y-4">
      <div
        *ngFor="let post of posts; trackBy: trackPost"
        class="flex items-center justify-between rounded-lg border border-gray-200 bg-gray-50 p-5 hover:bg-gray-100"
      >
        <div class="flex gap-4 items-center">
          <img
            [src]="post.imageUrl"
            [alt]="post.title"
            (error)="handleImageError($event)"
            class="w-20 h-20 rounded-lg object-cover"
          />

          <div>
            <h4 class="text-lg font-semibold text-gray-900">
              {{ post.title }}
            </h4>

            <p class="text-sm text-gray-500 mt-1">
              Published:
              {{ post.publishedOn }}
            </p>
          </div>
        </div>

        <button
          class="rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"
        >
          Edit
        </button>
      </div>
    </div>
    <ng-template #noPosts>
      <div class="text-center py-10 text-gray-500">No published posts yet.</div>
    </ng-template>
  </div>
</div>
